<!DOCTYPE html>
<html>
  <head>
    <title>Semantic search</title>
    <link rel="canonical" href="{{ canonical_url }}" />
  </head>
  <body>
    <form>
      <input type="text" name="q" value="{{ q }}" />
      <input type="submit" />
    </form>
    <ul>
      {% for result in results %}
      <li>
        <a href="{{ result.url }}"
          ><code>{{ result.file_name }}</code>
          <code>{{ result.xpath }}</code></a
        >
        {{ result.text }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
